body{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	background: #00a7e7 url(../img/bg.png);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Roboto-Light.ttf);
}


#title{
	font-family: myFirstFont;
	text-align: center;
	font-size: 3.5em;
	color: white;
	margin-top: 2em;
}

.header{
	margin-top: 6em;
	width:20%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}



#brand-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10em;
	width: 10em;
	opacity: 0.5;
	transition: opacity 1s;
}

#brand-logo:hover{
	opacity: 0.9;
}

#cancel{
	display: block;
	bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	text-align: center;
	width: 5em;
	font-family: myFirstFont;
	text-decoration: none;
	font-size: 2em;
	color: black;
}



#artist{
	font-family: myFirstFont;
	font-size: 2em;
	text-align: center;
	color: black;
}

#song{
	font-family: myFirstFont;
	font-size: 2em;
	text-align: center;
	color: black;
}




/*Css code for the pop-up window*/



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 10000;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgba(255,255,255, 0.8);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: black;
  font-family: myFirstFont;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}